<app-nav-bar></app-nav-bar>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Address</td>
                <td>Sponsor</td>
                <td>Home Field</td>
                <td>Points</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of teams" routerLink="/teams/get/{{t.id}}" class="choose">
                <td>{{t.name}}</td>
                <td>{{t.address}}</td>
                <td>{{t.sponsor}}</td>
                <td>{{t.homeField}}</td>
                <td>{{t.points}}</td>
                <td>
                    <input type="button" value="Edit" routerLink="/teams/add/{{t.id}}" class="btn btn-info">
                    <input type="button" value="Delete" (click)="delete(t.id)" class="btn btn-danger">
                </td>
            </tr>
        </tbody>
    </table>
    <input type="button" value="Add Team" class="btn btn-info" routerLink="/teams/add">
</div>
<app-footer></app-footer>
