<app-nav-bar></app-nav-bar>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Date</td>
                <td>Home team</td>
                <td>Away team</td>
                <td>Result</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of games" routerLink="/games/get/{{g.id}}" class="choose">
                <td>{{g.dateOfMaintenance}}</td>
                <td>{{g.homeTeam}}</td>
                <td>{{g.awayTeam}}</td>
                <td>{{g.result}}</td>
                <td>
                    <input type="button" value="Edit" routerLink="/games/add/{{g.id}}" class="btn btn-info">
                    <input type="button" value="Delete" (click)="delete(g.id)" class="btn btn-danger">
                </td>
            </tr>
        </tbody>
    </table>
    <input type="button" value="Add Team" class="btn btn-info" routerLink="/games/add">
</div>

